<% include ../partials/header %> 
<div class="container">
    <div>
        <h1 style="text-align: center">Add New Comments to <%= campground.name %> </h1>
        <div style="width: 30%; margin: 25px auto;">
            <!--The form need to send a post to the URL below-->
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST"> 
                <div class="form-group">
                     <!--send data back to app.post(/campgorunds)-->
                    <input class="form-control" type="text" name="comment[text]" placeholder="content">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button> 
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %> 